.card{ background-color: #fff; border: 1px solid transparent; border-radius: 6px; }
.card > .card-link{ color: #333; }
.card > .card-link:hover{  text-decoration: none; }
.card > .card-link .card-img img{ border-radius: 6px 6px 0 0; }
.card .card-img{ position: relative; padding: 0; display: table; }
.card .card-img .card-caption{
  position: absolute;
  right: 0;
  bottom: 16px;
  left: 0;
}
.card .card-body{ display: table; width: 100%; padding: 12px; }
.card .card-header{ border-radius: 6px 6px 0 0; padding: 8px; }
.card .card-footer{ border-radius: 0 0 6px 6px; padding: 8px; }
.card .card-left{ position: relative; float: left; padding: 0 0 8px 0; }
.card .card-right{ position: relative; float: left; padding: 8px 0 0 0; }
.card .card-body h1:first-child,
.card .card-body h2:first-child,
.card .card-body h3:first-child, 
.card .card-body h4:first-child,
.card .card-body .h1,
.card .card-body .h2,
.card .card-body .h3, 
.card .card-body .h4{ margin-top: 0; }
.card .card-body .heading{ display: block;  }
.card .card-body .heading:last-child{ margin-bottom: 0; }

.card .card-body .lead{ text-align: center; }

@media( min-width: 768px ){
  .card .card-left{ float: left; padding: 0 8px 0 0; }
  .card .card-right{ float: left; padding: 0 0 0 8px; }
    
  .card .card-4-8 .card-left{ width: 33.33333333%; }
  .card .card-4-8 .card-right{ width: 66.66666667%; }

  .card .card-5-7 .card-left{ width: 41.66666667%; }
  .card .card-5-7 .card-right{ width: 58.33333333%; }
  
  .card .card-6-6 .card-left{ width: 50%; }
  .card .card-6-6 .card-right{ width: 50%; }
  
  .card .card-7-5 .card-left{ width: 58.33333333%; }
  .card .card-7-5 .card-right{ width: 41.66666667%; }
  
  .card .card-8-4 .card-left{ width: 66.66666667%; }
  .card .card-8-4 .card-right{ width: 33.33333333%; }
}

/* -- default theme ------ */
.card{
  border-color: #ddd;
  background-color: #fff;
  margin-bottom: 24px;
}
.card  .card-header,
.card  .card-footer{ color: #333; background-color: #fdfdfd; }
.card  .card-header{ border-bottom: 1px solid #ddd; padding: 8px; }
.card  .card-footer{ border-top: 1px solid #ddd; padding: 8px; }
.card  .card-body{  }
.card  .card-img:first-child img{ border-radius: 6px 6px 0 0; }
.card  .card-left{ padding-right: 4px; }
.card  .card-right{ padding-left: 4px; }
/*.card:last-child{ margin-bottom: 0; }*/
.card card-caption { color: #fff; text-align: center; text-transform: uppercase; }


/* -- price theme ------ */
.card-price{ border-color: #999; background-color: #ededed; margin-bottom: 24px; }
.card-price > .card-heading,
.card-price > .card-footer{ color: #333; background-color: #fdfdfd; }
.card-price > .card-heading{ border-bottom: 1px solid #ddd; padding: 8px; }
.card-price > .card-footer{ border-top: 1px solid #ddd; padding: 8px; }
.card-price > .card-img:first-child img{ border-radius: 6px 6px 0 0; }
.card-price > .card-left{ padding-right: 4px; }
.card-price > .card-right{ padding-left: 4px; }
.card-price .card-caption { color: #fff; text-align: center; text-transform: uppercase; }
.card-price p:last-child{ margin-bottom: 0; }

.card-price .price{ 
  text-align: center; 
  color: #337ab7; 
  font-size: 3em; 
  text-transform: uppercase;
  line-height: 0.7em; 
  margin: 24px 0 16px;
}
.card-price .price small{ font-size: 0.4em; color: #66a5da; }
.card-price .details{ list-style: none; margin-bottom: 24px; padding: 0 18px; }
.card-price .details li{ text-align: center; margin-bottom: 8px; }
.card-price .buy-now{ text-transform: uppercase; }
.card-price table .price{ font-size: 1.2em; font-weight: 700; text-align: left; }
.card-price table .note{ color: #666; font-size: 0.8em; }

.no-padding-row{
	margin:0px !important;
}

.login-wrap.register-form{
	min-width:80%!important;
	margin-bottom: 50px;
}
.chosen-container{
	max-width: 100%;
}

.img-circle{
	border-radius: 100%;
}
.margin-b-15{
	margin-bottom: 15px;
}
.margin-b-7{
	margin-bottom: 7px;
}

.bg-white{
	background: #fff;
}
.btn-default:focus{
	outline: none;
	box-shadow:none;
}
.chosen-single, .chosen-container-multi .chosen-choices{

    display: block;
    width: 100%;
    min-height: 34px !important;
    padding: 6px 12px !important;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.nav.nav-tabs .active{
	border-bottom: 2px solid #eee;
}
.nav.nav-tabs{
	border:none;
}
.invalid-feedback{
	display: block;
	min-height: 10px;
	line-height: 10px;
	font-size: 8px;

}
.croppie-container .cr-image{
	max-width: 100%;
}

.form-group{
	margin-bottom: 5px;
}

.page-content--bge5 .container{ 
	min-height: 100vh;
}

.label.label-primary{
	background: #2196f3;
	padding: 2px 7px;
	color: #fff;
	display: inline;
	border-radius: 5px;
}


#cover-photo-user-trigger-change{
	margin-bottom: 7px;
	padding: 0px;
}
#cover-photo-user-trigger-change:hover{
	filter:blur(2px);
	opacity: 0.8;
}

.croppie-container{
	max-height: 200px!important;
}


.page-content--bge5{
	padding-bottom: 50px;
	height:auto!important;

}

h1,h2,h3,h4,h5,h6,p,span,label{
	font-family: 'Source Sans Pro', sans-serif !important;
}
.f-l{
	float: left;
}

.box-upload-file{
	background: #eee;
	padding:20px;
	border-radius: 20px;
	float: left;
}

/*.btn-primary{
	width: 100%;
    padding: 5px 30px;
    display: inline-block;
    background: #7addf1;
    color: #fff;
    font-family: "Heebo", sans-serif;
    font-weight: 500;
    font-size: 12px;
    -webkit-transition: all 400ms linear 0s;
    -o-transition: all 400ms linear 0s
    transition: all 400ms linear 0s;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 1, 0.10);
    text-align: center;
}*/

form .card-footer{

	display: flex;
}

.content-header small{
	font-size:12px;
}
.content-header{
	margin-bottom: 10px;
}

.table-data{
	min-height: 700px;
	max-height: 850px;
}

.row-video{
	padding: 2px;
}
.row-video .card{
	border:0px;
	margin-bottom: 0px;
}

.comment-form img, .comment img {
	width:35px;
	border-radius: 100%;
	float: left;

}
.comment-form .img-push, .comment .img-push{
	margin-left: 50px;
}
.comment{
	width:80%;
	border-bottom:1px solid #eee;
}
.comment h4 span{
	font-weight: normal;
	font-size: 12px;
}

.comment h4 a , .username-link{
	color: #222;
}
.comment h4 a:hover,.username-link:hover{
	color: #0056b3;
}

.container-reply{
	border-top:1px solid #eee;
	padding: 10px;
}
.container-comment{
	padding: 35px;
	display: flex;
	border-top:1px solid #eee;
}
.comment-reply{
	margin-bottom: 10px;
}


blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
/*.dropdown-toggle::after {
    display: none;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}*/