<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://code.jquery.com/jquery-3.3.1.js"
	  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
	  crossorigin="anonymous"></script>
	 <script type="text/javascript" src="file:///Volumes/DATA/SERVER/web_service/coached/resources/views/layouts/mm.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.print.css">

	


</head>
<body>
<div id='calendar'></div>
</body>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
	<script type="text/javascript" src=file:///Volumes/DATA/SERVER/web_service/coached/public/local_asset_dist/node_modules/fullcalendar-scheduler/dist/scheduler.js></script>
	<script type="text/javascript" >
	
		$('#calendar').fullCalendar('changeView', 'agenda', {
		  start: '2017-06-01',
		  end: '2017-06-05'
		});
		



	</script>

</html>